<div class="row casa-date-time">
    <PikadayInput
        class="form-control casa-dt-date"
        @format={{'DD-MMM-YYYY'}}
        @value={{@date}}
        @onSelection={{action 'doSomething'}}
    />
</div>