.casa-receipt-title {
    background-color: #3D6662;
    color: #fff;
    padding: 0.5rem;

    .casa-receipt-white {
        background-color: #fff;
        color: #000;
    }
}

.casa-receipt-lg-item {
    background-color: #f2f2f2;
    width: 3.8rem;
    text-align: center;
}

.casa-receipt-item-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 0.25rem;

    @media only screen and (max-width: 600px) {
        width: 70%;
    }
}
