<div class="row m-0">
    <div class="col-lg py-2 casa-admin-nav">
        <span class="casa-admin-navigation-item px-3 py-2 active" role="button" {{on "click" (fn @updateActiveItem 0 'unit')}}>Units</span>
        <span class="casa-admin-navigation-item px-3 py-2" role="button" {{on "click" (fn @updateActiveItem 1 'food')}}>Foods</span>
        <span class="casa-admin-navigation-item px-3 py-2" role="button" {{on "click" (fn @updateActiveItem 2 'drink')}}>Drinks</span>
        <span class="casa-admin-navigation-item px-3 py-2" role="button" {{on "click" (fn @updateActiveItem 3 'user')}}>Users</span>
    </div>
</div>